@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;600&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

.Navbar {  
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);
}

.NavbarLink {
    box-shadow: inset 0px 0px 5px 5px rgb(112, 0, 112);
    border-radius: 5px;
}


.NavbarLink:hover {
    transition: 1s;
    background-color: #5c005c !important;
    box-shadow: inset 0px 0px 5px 5px rgb(112, 0, 112);
}

.NavbarLink:not(:hover) {
    transition: 1s;
    
}





