.imagem2 {
    background-image: url(https://i.pinimg.com/736x/7d/10/38/7d10383c5430c257ccb0fe4ac0dd76bb.jpg);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.75);
}

