.imagem2 {
    background-image: url(https://media.tenor.com/kFELMFSZ8lYAAAAd/encosta-encosta-dj-do-baile-te-sarra.gif);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.75);
}

